@{ ViewData["Title"] = "Home"; }


<section id="carouselExampleCaptions" class="carousel slide mt-1 carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-item__inner" id="slider-1">
                <div class="carousel__content">
                    <h1 class="fw-bold">
                        <span class="text-primary text-left">Welcome</span> <br /> to the Syrian National Bank
                    </h1>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-item__inner" id="slider-2">
                <div class="carousel__content">
                    <h1 class="fw-bold">
                        <span class="text-primary text-left">First</span> Online Bank In Syria.<br /> Made To Satisfy All Your Needs. 
                    </h1>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-item__inner" id="slider-3">
                <div class="carousel__content">
                    <h1 class="fw-bold">
                        <span class="text-primary text-left">Innovative</span>  <br /> Products and Services.
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</section>

<section class="container mt-5">
    <h1 class="text-primary">
        Functions
    </h1>

    <div class="row">
        @foreach(var function in ViewBag.functionsList) {
            <div class="col-4">
                <div class="card mt-5 rounded shadow" style="width: 22rem;">
                    <img src="~/uploads/@function.ImagePath" alt="function Image" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">
                            @function.Name
                        </h4>
                        <p class="card-text">
                            @function.Description
                        </p>
                        <a asp-controller="Function" asp-action="Details" asp-route-id="@function.Id" class="btn btn-primary w-100">
                            View Details
                            <i class="fa fa-arrow-right"></i>
                        </a>
                        <a asp-controller="Function" asp-action="Update" asp-route-id="@function.Id" class="btn btn-danger w-100 mt-3">
                            Update Function
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>

</section>

<section class="container mt-5">
    <h1 class="text-primary">
        Featured Products
    </h1>

    <div class="row">
        @foreach(var product in ViewBag.productsList) {
            <div class="col-4">
                <div class="card mt-5 rounded shadow" style="width: 22rem;">
                    <img src="~/uploads/@product.ImagePath" alt="Product Image" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">
                            @product.Name
                        </h4>
                        <p class="card-text">
                            @product.Description
                        </p>
                        <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary w-100">
                            View Details
                            <i class="fa fa-arrow-right"></i>
                        </a>
                        <a asp-controller="Product" asp-action="Update" asp-route-id="@product.Id" class="btn btn-danger w-100 mt-3">
                            Update Product
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>

</section>

<section class="container my-5">
    <h1 class="text-primary">
        Latest Offers
    </h1>

    <div class="row">
        @foreach(var offer in ViewBag.offersList) {
            <div class="col-4">
                <div class="card mt-5 rounded shadow" style="width: 22rem;">
                    <img src="~/uploads/@offer.ImagePath" alt="offer Image" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">
                            @offer.Name
                        </h4>
                        <p class="card-text">
                            @offer.Description
                        </p>
                        <a asp-controller="Offer" asp-action="Details" asp-route-id="@offer.Id" class="btn btn-primary w-100">
                            View Details
                            <i class="fa fa-arrow-right"></i>
                        </a>
                        <a asp-controller="Offer" asp-action="Update" asp-route-id="@offer.Id" class="btn btn-danger w-100 mt-3">
                            Update Offer
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>

</section>